<div class="navbar-fixed">
<nav>
  <div class="light-blue lighten-1 nav-wrapper">
    <a id="logo-container" href="/login" class="brand-logo left">
      <img src="assets/images/logo.png" >
    </a>

    <ul id="nav-info" class="right">
      <li class="phone">(855) 898-6058</li>
      <li class="login-signup">
        <a href="https://www.assetpanda.com/register-free/" class="waves-effect waves-light btn red register">Sign Up Free</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="body">
  {{outlet}}
</div>

<footer id="footer" class="page-footer black">
  <div class="footer-copyright">
    <div class="container">
      <span class="test">© Copyright 2018. All Rights Reserved.</span>

      <a class="right" target="_blank" href="https://www.youtube.com/user/AssetPanda"><img class="social-networks" src="assets/images/youtube.jpg" ></a>

      <a class="right" target="_blank" href="https://twitter.com/AssetPanda"><img class="social-networks"  src="assets/images/twitter.png" ></a>

      <a class="right" target="_blank" href="https://www.facebook.com/AssetPanda"><img class="social-networks" src="assets/images/facebook.png" ></a>

    </div>
  </div>
</footer>