<div class="navbar-fixed">
<nav>
  <div class="light-blue lighten-1 nav-wrapper">
    <a id="logo-container" href="/login" class="brand-logo left">
      <img src="assets/images/logo.png" >
    </a>

    <ul id="nav-info" class="right">
      <li class="phone">(855) 898-6058</li>
      <li class="login-signup">
        <a href="https://www.assetpanda.com/register-free/" class="waves-effect waves-light btn red register">Sign Up Free</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="body">
  {{outlet}}
</div>

