<div class="navbar-fixed">
<nav>
  <div class="light-blue lighten-1 nav-wrapper">
        <a id="logo-container" href="/login" class="brand-logo left">
          <img src="assets/images/logo.png" >
        </a>

        <ul id="" class="right">
          <li>
            <div class="login-signup">
                <span class="phone">(855) 898-6058</span>

                <a href="http://www.assetpanda.com/register-free/" class="waves-effect waves-light btn red">Sign Up Free</a>
            </div>
          </li>

        </ul>
    </div>
  </nav>
</div>

<div class="body">
  {{outlet}}
</div>

