<h1>LOG IN</h1>
<form>
  Email<br>
  <input type="text" name="email"><br>
  Password<br>
  <input type="password" name="password"><br>
  <button type="submit">LOG IN</button>
</form>

<p><a href="https://www.assetpanda.com/terms-of-use/">Terms of Use</a></p>

<p><a href="https://login.assetpanda.com/users/password/new">Forgot Password</a></p>